
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 30px;
}

/* Header */

h1 {
  margin: 0;
}

/* Books section */

#books_container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book > * {
  margin: 0;
  padding: 0;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.book > button {
  padding: 5px 10px;
}

/* Add book form */

#add_book_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0;
}

#add_book_form > input {
  font-size: 15px;
  padding: 5px;
}

#add_book_form > button {
  font-size: 15px;
  padding: 5px 20px;
}
